In [18]:
from src.longlat import LongLat
from src.population import Population
from src.gdp import GDP
from src.weather import Weather
from src.moments import Moments
import pandas as pd
%matplotlib inline

In [2]:
df_pop = Population.clean_population()

In [3]:
df_long = LongLat.clean_longlat()

In [4]:
df_gdp = GDP.clean_gdp()

In [15]:
df_weather = Weather.clean_weather()

In [16]:
pop_cols = set(df_pop.columns)
long_cols = set(df_long.columns)
gdp_cols = set(df_gdp.columns)
weather_cols = set(df_weather.columns)
prices_cols = set(df_prices.columns)
sales_cols = set(df_sales.columns)

In [17]:
print(pop_cols == long_cols)
print(gdp_cols == long_cols)
print(weather_cols == long_cols) 
print(prices_cols == long_cols)
print(sales_cols == long_cols)

True
True
True

In [10]:
from scipy.stats import moment
import numpy as np

In [11]:
Moments.moments(df_gdp)

                     mom1           mom2          mom3          mom4
time
1990-01-01  115718.458333  137915.676248  7.368391e+15  4.486027e+21
1991-01-01  119679.062500  140880.685229  7.767312e+15  4.821507e+21
1992-01-01  126366.125000  145895.348801  8.299588e+15  5.218952e+21
1993-01-01  132548.416667  150855.785722  8.916297e+15  5.697706e+21
1994-01-01  141774.791667  158224.022172  9.970297e+15  6.605433e+21
1995-01-01  149772.229167  167066.739843  1.179059e+16  8.274260e+21
1996-01-01  159110.000000  177321.601007  1.406762e+16  1.041445e+22
1997-01-01  170168.437500  190903.030136  1.765655e+16  1.406166e+22
1997-01-01  175580.458333  199557.890606  2.024532e+16  1.685056e+22
1998-01-01  185604.520833  211201.956507  2.413544e+16  2.146415e+22
1999-01-01  197381.500000  226652.099433  3.053756e+16  2.964493e+22
2000-01-01  210237.916667  244638.797371  3.959305e+16  4.225197e+22
2001-01-01  217072.395833  251057.215463  4.160156e+16  4.436921e+22
2002-01-01  224300.687500  259070.007962  4.611338e+16  5.135990e+22
2003-01-01  235128.229167  272173.512036  5.479377e+16  6.538294e+22
2004-01-01  250670.187500  292126.760068  6.917635e+16  8.932786e+22
2005-01-01  267352.916667  313530.807303  8.632929e+16  1.196618e+23
2006-01-01  282895.791667  333947.171252  1.052450e+17  1.548449e+23
2007-01-01  295497.812500  349259.268199  1.201405e+17  1.833989e+23
2008-01-01  300147.312500  354370.405675  1.264669e+17  1.956179e+23
2009-01-01  293871.979167  344223.676333  1.135380e+17  1.683709e+23
2010-01-01  304866.250000  357126.895695  1.258590e+17  1.909502e+23
2011-01-01  316031.020833  371393.215201  1.421892e+17  2.230796e+23
2012-01-01  329127.791667  391129.341065  1.665167e+17  2.730245e+23
2013-01-01  340216.854167  408554.873212  1.917495e+17  3.286498e+23
2014-01-01  355430.750000  430817.619731  2.281635e+17  4.160246e+23
2015-01-01  369802.062500  450709.714062  2.652948e+17  5.175183e+23
2016-01-01  380207.250000  465534.206839  2.973030e+17  6.118463e+23

In [12]:
from datetime import datetime

In [13]:
datetime(1990, 1, 1)

datetime.datetime(1990, 1, 1, 0, 0)